<h1>{{title}}</h1>
<h2>Floors</h2>
<button (click)="getFloors()">Refresh</button>
<table style="width:40%; float: left">
    <tr>
        <th>Level</th>
        <th>People</th>
        <th>Destination</th>
    </tr>
    <tr *ngFor="#floor of floors">
        <td>{{floor.level}}</td>
        <td>
            <input [(ngModel)]="floor.people" (keyup.enter)="onSelect(floor)" placeholder="people"/>
        </td>
        <td>
            <input [(ngModel)]="floor.destinationLevel" (keyup.enter)="onSelect(floor)" placeholder="destinationLevel"/>
        </td>
    </tr>
</table>
<div style="width:40%; float: right">
    <h2>Elevators</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>People</th>
            <th>Current Level</th>
        </tr>
        <tr *ngFor="#elevator of elevators">
            <td>{{elevator.name}}</td>
            <td>{{elevator.status}}</td>
            <td>{{elevator.people}}</td>
            <td>{{elevator.currentLevel}}</td>
        </tr>
    </table>
</div>
